a {
    color: rgb(95, 95, 177);
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.trip-form {
    margin: 10% 30% 10% 30%;
}